@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P';
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.conteiner {
    display: flex;
    justify-content: space-between;
}

.conv {
    background-color: white;
}

.tool {
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #3a3a3a;
    border-radius: 20px;
    width: 200px;
    height: 300px;
}

.tool>* {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;


}

.titleContent {
    text-align: center;
    margin-bottom: 20px;
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
    background-color: #444444;
    width: 100%;
    height: 40%;
    box-shadow: 0px 36px 38px -6px rgba(67, 67, 67, 0.28);
}

.titleContent button {
    color: #FFDD83;
    font-size: 18px;
    background-color: #222;
    border-radius: 5px;
    border: none;
    width: 80%;
    height: 30px;
}

.speed {
    width: 100%;
    height: 60%;
    margin-bottom: 20px;
    font-size: 16px;

}

.speed .sp {
    color: white;
    font-size: 45px;
}

.life {
    margin-top: 10px;
    font-size: 12px;
    color: white;
}

.WH {
    text-align: center;
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.WH input {
    color: white;
    border: none;
    text-align: center;
    width: 60%;
    height: 30px;
    background-color: inherit;
    border-bottom: #222 2px solid;
    border-left: #222 2px solid;
    border-right: #222 2px solid;
}

.WH input:focus {
    outline: none;
}

.WH input:active {
    outline: none;
    appearance: none
}

.WH input::-webkit-inner-spin-button {
    appearance: none
}

.setting {
    width: 500px;
    display: flex;
    color: #FFDD83;
    flex-wrap: wrap;
    justify-content: space-around;
}


.tool.setting>.titleContent {
    height: 60px;
}

.change button {
    color: white;
    background-color: #222;
    border: none;
}

button {
    cursor: pointer;
}

input[type='range'] {
    cursor: grab;
}

input[type='range']:active {
    cursor: grabbing;
}